<!DOCTYPE html>
<html>
    <head>
        <title>Fantasy Bachelor</title>
        <link href="<%= staticUrl %>/css/splash.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="splash">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
            </div>
            <div class="label">loading</div>
        </div>
        <div id="container">

        </div>
        <div id="scripts">
            <script>var STATIC_URL_BASE = "<%= staticUrl %>";</script>
            <script async defer src="<%= staticUrl %>/js/client.js"></script>
        </div>
        <div id="stylesheets">
            <link href="<%= staticUrl %>/css/client.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        </div>
    </body>
</html>
