.menu.disabled * { cursor: default; }

.menu {
    position: relative;

    .menu-container {
        max-height: 75vh;
        min-height: 20vh;
        height: min-content;
        width: min-content;
        min-width: 300px;
        overflow-y: auto;
        border-radius: 5px;

        background-color: white;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        padding: 15px;

        position: absolute;
        top: 100%;
        left: 20px;
        z-index: 2;
    }

    .menu-arrow {
        position: absolute;
        top: calc(100% - 7px);
        left: 50%;
        height: 15px;
        width: 15px;
        transform: translateX(-50%) rotate(45deg);
        background-color: white;
        box-shadow: 0px 0px 2px rgba(0,0,0,.2);
        z-index: 1;
    }
}
