.menu.role-bio {

    .menu-container {
        width: 225px;
        min-width: 225px;
        background-color: white;
        color: rgb(75, 75, 75);
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-weight: 300;
    }

    a {
        float: right;
    }
}
